$bgcolor: #F8F8F8;
$content: 512px;
$inputwidth: 226px;
$inputheight: 33px;
$inputtextcolor: #2B2B2B;
$marginleft: 39px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.create__container {
    margin: 0 auto;
    width: 704px;
    height: 535px;
    display: flex;
    background: #B7CDC1;
    border-radius: 37px;

    & > div {
        align-self: flex-end;
    }
}

.create__container-form {
    width: 620px;
    height: 100%;
    background: $bgcolor;
    border-radius: 0px 37px 37px 37px;
}

.div__for__scroll {
    overflow-y: scroll;
    height: 444px;
}

.close__modal {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 32px;
    padding-top: 14px;
    padding-right: 14px;

    & > a {
        height: 100%;
    }

    &:hover {
        opacity: .8;
    }
}

.create__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #F4896F;
}

.project__name {
    width: $inputwidth;
    height: $inputheight;
    margin-top: 25px;
    margin-left: $marginleft;
}

input {
    width: $inputwidth;
    height: $inputheight;
    padding-left: 13px;
    padding-right: 13px;
    background-color: $bgcolor;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $inputtextcolor;
    border: 1px solid #86A296;
    border-radius: 8px;

    &:focus {
        box-shadow: 0 0 3px rgba(43, 43, 43, .5);
    }
}

.project__description {
    width: $content;
    height: 154px;
    margin-top: 15px;
    margin-left: $marginleft;
    padding: 5px;
    border: 1px solid #86A296;
    border-radius: 8px;
}

.description__toolbar {
    width: 193px;
    height: 19px;
    display: flex;
    // border: 1px solid transparent;

    & button {
        padding: 0;
        border: 1px dotted transparent;
        border-left: none;
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        height: 100%;
        background-color: $bgcolor;

        &:hover {
            border-color: #678679;
        }
    }
}

.description__text {
    width: 100%;
    height: 102px;

    & textarea {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $inputtextcolor;
        width: 100%;
        height: 100%;
        padding: 5px;
        background-color: $bgcolor;
        border: 1px solid transparent;
        border-radius: 3px;

        &:focus {
            border-color: #678679;
            box-shadow: 0 0 3px rgba(43, 43, 43, .5);
        }
    }
}

.description__bottom {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;

    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bgcolor;
        border: none;
        padding: 0;
        margin-right: 2px;
        height: 100%;
        cursor: pointer;
    }
}

.description__bottom-attach {
    width: 300px;
    height: 19px;
    font-size: 10px;
    display: flex;
    align-items: center;
    color: rgba(103, 134, 121, .5);

    & a {
        margin: 2px;
        text-decoration: none;
        border-bottom: 1px dashed rgba(103, 134, 121, .5);
        color: rgba(103, 134, 121, .5);
    }
}

.description__bottom-dropup {
    display: flex;
}

.project__functionality {
    margin-top: 25px;
    margin-left: $marginleft;
    padding-left: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $inputtextcolor;
}

.toggle {
    width: $content;
    margin-top: 15px;
    margin-left: $marginleft;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 30px 30px 30px;
}

.toggle__wrapper {
    display: flex;
    align-items: center;
    width: 160px;
    max-width: 170px;
}

.toggle__button {
    position: relative;
    width: 42px;
    height: 22px;
    border-radius: 18.5px;
    overflow: hidden;

    & .checkbox {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    & .knobs, .layer {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    & .layer {
        width: 100%;
        height: 100%;
        background-color: #E9E9E9;
        z-index: 1;
    }

    & .knobs:before {
        content: 'on';
        position: absolute;
        top: 1px;
        left: 1px;
        width: 20px;
        height: 20px;
        color: $bgcolor;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        background-color: #86A296;
        border-radius: 50%;
        transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }

    & .checkbox:checked + .knobs:before {
        content: 'off';
        left: 21px;
        color: #86A296;
        background-color: #F2F2F2;
    }
}

.toggle__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    margin: 0 5px;
    color: #999999;
}

.project__team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $content;
    margin-top: 23px;
    margin-left: $marginleft;

    & button {
        background-color: $bgcolor;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}

.dropbtn {
    width: $inputwidth;
    height: $inputheight;
    padding-left: 13px;
    padding-right: 13px;
    background-color: $bgcolor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999999;
    font-size: 14px;
    border: 1px solid #86A296;
    border-radius: 8px;
    cursor: pointer;

    &:focus {
        box-shadow: 0 0 3px rgba(43, 43, 43, .5);
    }
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    min-width: $inputwidth;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 1;
}

.dropdown-content a {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 2px;
    color: #999999;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: $bgcolor;
    border-radius: 8px;
}

.show {display:block;}

.checkbox__grid {
    margin-left: $marginleft;
    margin-top: 15px;
    width: $content;
    display: grid;
    grid-template-columns: $inputwidth $inputwidth;
    column-gap: 25px;
}

.checkbox__wrapper {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    user-select: none;
}

.checkbox__wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #86A296;
    border-radius: 6px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox__wrapper input:checked ~ .checkmark:after {
    display: block;
}

.checkbox__wrapper .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #86A296;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.additional {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $inputtextcolor;
    margin-left: $marginleft;
    margin-top: 10px;
    padding-left: 26px;
}

.sms-remind {
    display: flex;
    align-items: center;
    margin-top: 15px;

    & label {
        margin-right: 5px;
        margin-bottom: 0;
        margin-left: $marginleft;
    }
}

.additional__section-input {
    display: flex;
    margin-top: 15px;
    margin-left: $marginleft;
    width: $content;
    justify-content: space-between;
}

.additional-section {
    opacity: 0;

    & button {
        padding: 0;
        border: 0;
    }
}

.last__input {
    margin-top: 15px;
    margin-left: $marginleft;
}

.create__button {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #FFAE9A;
    border-radius: 98px;
    padding: 5px 15px;
    border: 0;
    margin: 25px auto 0 auto;
    cursor: pointer;
}