* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.create__container {
  margin: 0 auto;
  width: 704px;
  height: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #B7CDC1;
  border-radius: 37px;
}

.create__container > div {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.create__container-form {
  width: 620px;
  height: 100%;
  background: #F8F8F8;
  border-radius: 0px 37px 37px 37px;
}

.div__for__scroll {
  overflow-y: scroll;
  height: 444px;
}

.close__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 32px;
  padding-top: 14px;
  padding-right: 14px;
}

.close__modal > a {
  height: 100%;
}

.close__modal:hover {
  opacity: .8;
}

.create__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #F4896F;
}

.project__name {
  width: 226px;
  height: 33px;
  margin-top: 25px;
  margin-left: 39px;
}

input {
  width: 226px;
  height: 33px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #F8F8F8;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2B2B2B;
  border: 1px solid #86A296;
  border-radius: 8px;
}

input:focus {
  -webkit-box-shadow: 0 0 3px rgba(43, 43, 43, 0.5);
          box-shadow: 0 0 3px rgba(43, 43, 43, 0.5);
}

.project__description {
  width: 512px;
  height: 154px;
  margin-top: 15px;
  margin-left: 39px;
  padding: 5px;
  border: 1px solid #86A296;
  border-radius: 8px;
}

.description__toolbar {
  width: 193px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description__toolbar button {
  padding: 0;
  border: 1px dotted transparent;
  border-left: none;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  background-color: #F8F8F8;
}

.description__toolbar button:hover {
  border-color: #678679;
}

.description__text {
  width: 100%;
  height: 102px;
}

.description__text textarea {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2B2B2B;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: #F8F8F8;
  border: 1px solid transparent;
  border-radius: 3px;
}

.description__text textarea:focus {
  border-color: #678679;
  -webkit-box-shadow: 0 0 3px rgba(43, 43, 43, 0.5);
          box-shadow: 0 0 3px rgba(43, 43, 43, 0.5);
}

.description__bottom {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__bottom button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
  border: none;
  padding: 0;
  margin-right: 2px;
  height: 100%;
  cursor: pointer;
}

.description__bottom-attach {
  width: 300px;
  height: 19px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(103, 134, 121, 0.5);
}

.description__bottom-attach a {
  margin: 2px;
  text-decoration: none;
  border-bottom: 1px dashed rgba(103, 134, 121, 0.5);
  color: rgba(103, 134, 121, 0.5);
}

.description__bottom-dropup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__functionality {
  margin-top: 25px;
  margin-left: 39px;
  padding-left: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2B2B2B;
}

.toggle {
  width: 512px;
  margin-top: 15px;
  margin-left: 39px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 160px 160px 160px;
      grid-template-columns: 160px 160px 160px;
  -ms-grid-rows: 30px 30px 30px;
      grid-template-rows: 30px 30px 30px;
}

.toggle__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  max-width: 170px;
}

.toggle__button {
  position: relative;
  width: 42px;
  height: 22px;
  border-radius: 18.5px;
  overflow: hidden;
}

.toggle__button .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.toggle__button .knobs, .toggle__button .layer {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.toggle__button .layer {
  width: 100%;
  height: 100%;
  background-color: #E9E9E9;
  z-index: 1;
}

.toggle__button .knobs:before {
  content: 'on';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  color: #F8F8F8;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  background-color: #86A296;
  border-radius: 50%;
  -webkit-transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.toggle__button .checkbox:checked + .knobs:before {
  content: 'off';
  left: 21px;
  color: #86A296;
  background-color: #F2F2F2;
}

.toggle__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 5px;
  color: #999999;
}

.project__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 512px;
  margin-top: 23px;
  margin-left: 39px;
}

.project__team button {
  background-color: #F8F8F8;
  border: none;
  padding: 0;
  cursor: pointer;
}

.dropbtn {
  width: 226px;
  height: 33px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999999;
  font-size: 14px;
  border: 1px solid #86A296;
  border-radius: 8px;
  cursor: pointer;
}

.dropbtn:focus {
  -webkit-box-shadow: 0 0 3px rgba(43, 43, 43, 0.5);
          box-shadow: 0 0 3px rgba(43, 43, 43, 0.5);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  min-width: 226px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1;
}

.dropdown-content a {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  padding-left: 13px;
  padding-right: 13px;
  margin-top: 2px;
  color: #999999;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #F8F8F8;
  border-radius: 8px;
}

.show {
  display: block;
}

.checkbox__grid {
  margin-left: 39px;
  margin-top: 15px;
  width: 512px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 226px 226px;
      grid-template-columns: 226px 226px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.checkbox__wrapper {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #86A296;
  border-radius: 6px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__wrapper input:checked ~ .checkmark:after {
  display: block;
}

.checkbox__wrapper .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #86A296;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.additional {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2B2B2B;
  margin-left: 39px;
  margin-top: 10px;
  padding-left: 26px;
}

.sms-remind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.sms-remind label {
  margin-right: 5px;
  margin-bottom: 0;
  margin-left: 39px;
}

.additional__section-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: 39px;
  width: 512px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.additional-section {
  opacity: 0;
}

.additional-section button {
  padding: 0;
  border: 0;
}

.last__input {
  margin-top: 15px;
  margin-left: 39px;
}

.create__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FFAE9A;
  border-radius: 98px;
  padding: 5px 15px;
  border: 0;
  margin: 25px auto 0 auto;
  cursor: pointer;
}
/*# sourceMappingURL=creating-a-project.css.map */