@import "./draft-line";
@import "./sidebar";
@import "./notifications";
@import "./checkbox";

$bgcolor: #F8F8F8;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
}

header {
    border-bottom: 1px solid #EEEEEE;
    background: $bgcolor;
    width: 100%;
    max-width: 1920px;
    height: 85px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 27px;
}

.header__avatar-wrapper {
    display: flex;
    align-items: center;

    & .header__avatar {
        width: 66px;
        height: 66px;
        margin-right: 21px;
        background: url(../images/social.png);
        border: 3px solid rgb(132, 162, 149);
        border-radius: 50%;
    }
}

#menu-toggle {
	display: none;
}

.menu-icon {
	// position: absolute;
	// top: 18px;
	// left: 30px;
	// font-size: 24px;
	// z-index: 1;
	transition: all 300ms ease-in-out;
}

#menu-toggle:checked ~ .notifications {
    right: 0px;
}