$bgcolor: #F8F8F8;
$color1: #86A296;
$font2: #999999;

.main__menu {
    background: $bgcolor;
    position: absolute;
    top: 85px;
    bottom: 0;
    height: calc(100% - 85px);
    left: 0;
    width: 100px;
    overflow: hidden;
    transition: width .05s linear;
    z-index: 1000;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & ul {
        outline: 0;
        padding: 0;
        margin: 7px 0;
    }

    & li {
        display: block;
        width: 258px;
        outline: 0;
        margin: 0;
        padding: 0;
    }
}

.main__menu:hover {
    width: 258px;
    overflow: visible;
    }

.main__menu-link {
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 16px;
    font-weight: 400;
    color: $font2;
    text-decoration: none;
    transition: all .1s linear;

    &:focus {
        font-weight: 700;
    }

    & > .nav__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
    }

    & > .nav__text {
        width: 158px;
    }
}

.nav__icon-bcg {
    position: relative;
    width: 42px;
    height: 42px;
    background: $color1;
    border-radius: 21px 0px 21px 21px;

    &:after {
        content: url(../images/sidebar/instagram.png);
        position: absolute;
        left: 8.5px;
        top: 8px;
    }
}

.toggle__button-wrapper {
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle__button {
    position: relative;
    width: 72px;
    height: 37px;
    border-radius: 18.5px;
    overflow: hidden;

    & .checkbox {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    & .knobs, .layer {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    & .layer {
        width: 100%;
        height: 100%;
        background-color: #F2F2F2;
        z-index: 1;
    }

    & .knobs:before {
        content: 'day';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 33px;
        height: 33px;
        color: $color1;
        font-size: 13px;
        font-weight: 700;
        line-height: 2.3;
        text-align: center;
        background-color: $bgcolor;
        border-radius: 50%;
        transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }

    & .checkbox:checked + .knobs:before {
        content: 'night';
        left: 36px;
        color: $bgcolor;
        background-color: $color1;
    }
}

.main__menu li:hover>a {
    color:#fff;
    background-color:#C6C6C6;
}

.main__menu li:hover .nav__icon>img {
    background-color: #fff;
}