body {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box; 
}

.arrow-box {
    box-sizing: border-box; 
    width: 160px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0 16px;
	position: relative;
	background: #F8F8F8;
    border: 0.25px solid #999999;
    border-radius: 16px;
    text-align: center;
}
.arrow-box:after, .arrow-box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #F8F8F8;
	border-width: 10px;
	margin-left: 36px;
}
.arrow-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #999999;
	border-width: 11px;
	margin-left: 35px;
}

.arrow-box-subcont {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrow-box a {
    width: 100%;
    text-decoration: none;
}

.arrow-box h2 {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #86A296;
}

.arrow-box img {
    width: 9px;
    height: 10px;
    padding-top: 2px;
}

.arrow-box p {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #2B2B2B;
}