<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="/var/log/better-plan/common-server/internallog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target
      xsi:type="ColoredConsole"
      name="console"
      layout="${date:format=HH\:mm\:ss}|${level}|${message}"
      detectConsoleAvailable="true"
    />

    <target
      xsi:type="File"
      name="info"
      fileName="/var/log/better-plan/common-server/Info/${shortdate}.log"
      layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}"
      archiveFileName="/var/log/better-pan/common-server/archives/log.main.${shortdate}.{#}.txt"
      archiveAboveSize="5242880"
      archiveEvery="Day"
      archiveNumbering = "Rolling"
      maxArchiveFiles="3"
    />

    <target
      xsi:type="File"
      name="warn"
      fileName="/var/log/better-plan/common-server/Warm/${shortdate}.log"
      layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}"
      archiveFileName="/var/log/better-plan/common-server/archives/log.main.${shortdate}.{#}.txt"
      archiveAboveSize="5242880"
      archiveEvery="Day"
      archiveNumbering = "Rolling"
      maxArchiveFiles="3"
    />

    <target
      xsi:type="File"
      name="error"
      fileName="/var/log/better-plan/common-server/Error/${shortdate}.log"
      layout="${longdate} | ${callsite} | ${uppercase:${level}} | ${message} ${newline}"
    />
  </targets>

  <rules>


    <logger name="*" minlevel="Trace" maxlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Warn" maxlevel="Warn"  writeTo="warn" />
    <logger name="*" minlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Info" writeTo="ColoredConsole" />


    <!-- <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Info" writeTo="console" />-->
  </rules>
</nlog>